NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://tickets:tickets@localhost:5432/tickets_core

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BROKERS=localhost:9094

HTTP_RATE_LIMIT_MAX_REQUESTS=60
HTTP_RATE_LIMIT_TTL_IN_MILLISECONDS=60000
